@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

@font-face {
  font-family: "JetBrains";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/woff2/JetBrainsMono-Regular.woff2") format("woff2"), url("./fonts/woff/JetBrainsMono-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/woff2/JetBrainsMono-Bold.woff2") format("woff2"), url("./fonts/woff/JetBrainsMono-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/Lato/Lato-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Lato/Lato-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Lato/Lato-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/Merriweather/Merriweather-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Merriweather/Merriweather-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Mohave";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/Mohave/Mohave-Light.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Mohave";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/Mohave/Mohave-LightItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Mohave";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Mohave/Mohave-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Mohave";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/Mohave/Mohave-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Mohave";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Mohave/Mohave-Medium.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Mohave";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/Mohave/Mohave-MediumItalic.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Mohave";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Mohave/Mohave-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Mohave";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/Mohave/Mohave-BoldItalic.ttf") format("ttf");
  font-display: swap;
}
